.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
   
}

.column {
    display: flex;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 8px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://www.pngitem.com/pimgs/m/244-2443980_sports-icon-basketball-designs-on-paper-hd-png.png');
    background-size: cover;
}